<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chunks to File - NodeJS system </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Chunks to File</h1>
        <label for="fileInput" style="display: none;">Choose a file</label>
        <input type="file" id="fileInput" name="file" accept=".*" style="display: none;">
        <div id="dropArea" style="border: 2px dashed #ccc; padding: 20px; text-align: center;">
            <p>Drag and drop files here or click to select</p>
        </div>
        <div id="fileName" style="margin: 10%;"></div>
        <button type="button" id="uploadButtonChunk">Upload</button>
        <div id="progressBar" class="progressBarClass" style="display: none;">
            <div id="progressBarInner"></div>
        </div>
    </div>
    
    <script src="/js/form.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>
